<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <tasks-container></tasks-container>
        </div>
        <div class='col-sm-9 body-content'>
            <div class="container-fluid">
                <div class="row">
                    <esri-map [center]="center" (centerChange)="centerChange($event)" [(points)]="points"></esri-map>
                </div>
                <div class="row">
                    <points-container [(points)]="points"></points-container>
                </div>
            </div>
        </div>
    </div>
</div>
