<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <!-- TODO: create component's property called `tasks` with type of array. 
                Each element of the array represents specific task and corresponds appropriate model (model is not implemented yet) -->
                <!--<li *ngFor="let t of tasks">
                    Here will be task
                </li>-->
            </ul>

            <div class="col-xs-12">
                <button type="button" class="btn btn-success btn-add">
                    <span class="fa idden-md hidden-lg hidden-xl">+</span>
                    <span class="hidden-sm hidden-xs">Add New Task</span>
                </button>
            </div>
        </div>
    </div>
</div>
